.file-list {
  font-family: 'Kanti', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
  margin-bottom: 60px;
}

.file-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 90%;
  max-width: 450px;

}

.file-header {
  font-size: 12px;
  color: #666;
  margin-bottom: 5px;
}

.file-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-text {
  font-size: 16px;
  color: white;
}

.file-thumbnail {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

.file-name {
  font-size: 14px;
  color: whitesmoke;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.copy-btn, .download-btn, .delete-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: lightslategray;
  color: white;
  border: none;
}

.copy-btn:hover, .download-btn:hover, .delete-btn:hover {
  background-color: rgb(7, 54, 85);
}


.no-files {
  color: white;
}
