.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(44, 44, 44);
  padding: 10px 20px;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  color: rgb(244, 236, 236);
}

.logo img {
  height: 40px;
  cursor: pointer;
}