@import url('https://fonts.googleapis.com/css2?family=Anton:wght@300;400;700&display=swap');

.sendbox {
  font-family: 'Anton' sans-serif;
  width: 100%;
  padding: 10px;
  background-color: rgba(44, 44, 44, 44);
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 450px;
  z-index: 10;
}


.input-container {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
}


.sendbox-input {
  font-family: 'Anton' sans-serif;
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.add-file-btn {
  cursor: pointer;
  color: white;
  padding: 5px;
}
.sendbox-btn {
  cursor: pointer;
  color: white;
  padding: 5px;
}
