@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');

.sidebar-header {
  text-align: left;
  font-size: 10px;
  font-weight: 500;
  padding: 5px 5px;
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgb(44, 44, 44);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  padding-top: 20px;
  z-index: 1000;
  font-family: 'Kanit', sans-serif;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  color: white;
}

.sidebar ul li:hover {
  background-color: rgb(44, 44, 44);
}